.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1; 
    /* The flex-grow property specifies how much the item will grow 
    relative to the rest of the flexible items inside the same container. */
}

  /* Image wrapper */
  .home-main-section .img-wrapper {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    /* align-items: stretch; */
    justify-content: flex-end;
    /* background-color: red; */
  }

    /* Image (is inside wrapper - .img-wrapper) */
    .home-main-section .img-wrapper .lady-image {
      background-image: url(../images/landing-page-girl.png);
      flex-grow: 1;
      max-height: 70vh;
      min-width: 30vw;
      background-size: contain;
      background-repeat: no-repeat;
      /* background-position: bottom left; */
    }

  /* Call to action section */
  .home-main-section .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    align-self: center;
  }

    /* Button */
    .home-main-section .call-to-action .btn {
      color: white;
      background-color: #1762A7;
      padding: .75rem 1.5rem;
      border-radius: .5rem;
      text-decoration: none;
      font-size: .9rem;
      outline: none;
      border: none;
      cursor: pointer;
    }
  
    .home-main-section .call-to-action .btn:hover {
      background-color: #2180d8;
    }
    
    .home-main-section .call-to-action .btn:focus {
      background-color: #2796ff;
    }

    /* Title & Subtitle */
    .home-main-section .call-to-action .title {
      font-weight: 500;
      font-size: 3em;
      margin-bottom: 1rem;
      margin-top: 0;
    }

    .home-main-section .call-to-action .subtitle {
      font-weight: 500;
      font-size: 1.2em;
      margin-bottom: 2rem;
    }

    .accent-text {
      color: #BC3A80;
    }


  /* Circles */
  .home-page-circle-1 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgb(188, 58, 128, .1);
    bottom: 5vw;
    left: 5vw;
    z-index: -1;
  }

  .home-page-circle-2 {
    position: absolute;
    width: 25vw; /* vw	Relative to 1% of the width of the viewport* */
    height: 25vw;
    border-radius: 50%;
    background-color: rgb(52, 87, 178, .1);
    top: 15vh; /* vh	Relative to 1% of the height of the viewport* */
    left: 30vw;
    z-index: -1;
  }

  .home-page-circle-3 {
    position: absolute;
    overflow: hidden;
    width: 45vw;
    height: 45vw;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .home-page-circle-3::before {
    content: '';
    transform: translate(40%, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(52, 87, 178, .1);
  }


/* MEDIA QUERIES */
@media (max-width: 768px) {
  .home-main-section .img-wrapper .lady-image {
    margin-top: 365px;
  }
}

/* Phones L */
@media (max-width: 425px) {
  .home-main-section .lady-image {
    width: 65vw;
  }

  .home-main-section .call-to-action {
    margin-bottom: 240px;
  }

  .home-main-section .call-to-action .title {
    font-weight: 500;
    font-size: 2.1em;
    margin-bottom: 1rem;
    margin-left: -260px;
  }

  .home-main-section .call-to-action .subtitle {
    font-weight: 400;
    font-size: 0.9em;
    margin-bottom: 2rem;
    margin-left: -260px;
  }

  .home-main-section .call-to-action .btn {
    margin-left: -260px;
  }
}

/* Phones M */
@media (max-width: 375px) {
  .home-main-section .lady-image {
    width: 65vw;
  }

  .home-main-section .call-to-action {
    margin-bottom: 240px;
  }

  .home-main-section .call-to-action .title {
    font-weight: 500;
    font-size: 1.9em;
    margin-bottom: 1rem;
    margin-left: -260px;
  }

  .home-main-section .call-to-action .subtitle {
    font-weight: 400;
    font-size: 0.8em;
    margin-bottom: 2rem;
    margin-left: -260px;
  }

  .home-main-section .call-to-action .btn {
    margin-left: -260px;
  }
}

/* Phones S */
@media (max-width: 320px) {
  .home-main-section .lady-image {
    width: 75vw;
  }

  .home-main-section .call-to-action {
    margin-bottom: 240px;
  }

  .home-main-section .call-to-action .title {
    font-weight: 500;
    font-size: 1.7em;
    margin-bottom: 1rem;
    margin-left: -260px;
  }

  .home-main-section .call-to-action .subtitle {
    font-weight: 300;
    font-size: 0.8em;
    margin-bottom: 2rem;
    margin-left: -260px;
  }

  .home-main-section .call-to-action .btn {
    margin-left: -260px;
  }
}